* {
  box-sizing: border-box;
}


#top-header{
	border-bottom: 1px solid #cccccc;
}

#name{
	float: left;
	color: white;
	font-size: 30px;
	background: #4aaaa5;
	font-weight: bold;
	padding: 25px;
	margin-left: 154px;
}

header ul {
   list-style-type: none;
   margin-left: 60%;
   text-align: right;
   padding: 31px;
   width: 350px;
}


header ul li {
   position: relative;
   display: inline;
   padding-right: 5px;
   font-size: 18px;
   border-right: 1px solid #dddddd;
   padding-right: 10px;
   padding-left: 10px;
}

a{
	text-decoration: none;
	color: #777777;
}

a li:hover{
	background-color: #4aaaa5;
	color: white;
	padding: 5px;
}

#wrapper{
	background-image: url('../images/paper_fibers.png');
}

#container{
	width: 960px;
	margin: 0 auto 0 auto;
}

#about{
	font-size: 30px;
	color: #4aaaa5;
	font-weight: bold;
	clear: both;
	overflow: auto;
	padding: 10px;
}

#aboutme{
	margin-top: 18px;
	line-height: 230%;
}

p{
	font-size: 21px;
	color: #777777;
}

article{
	width: 650px;
	float: left;
	margin: 30px 30px 30px 0;
	border: 1px solid #dddddd;
	padding: 18px;
	background-color: #ffffff;
}

#side-bar{
	width: 260px;
	float: left;
	background-color: #ffffff;
	margin: 30px 0 0 0;
	border: 1px solid #dddddd;
	padding: 20px;
}

#connect{
	text-align: center;
	font-size: 24px;
	color: #4aaaa5;
	font-weight: bold;
}

#linked, #github, #facebook{
	width: 70px;
	height: 70px;
}

#aboutme{
	clear: both;
	overflow: auto;
}

.images{
	position: relative;
	width: 285px;
	height: 250px;
	margin-bottom: 45px;
    margin-right: 20px;
    float: left;
}

.font-block{
	position: relative;
	bottom: 80px;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 285px;
	padding: 10px;
	text-align: center;
}

footer{
	clear: both;
	overflow: auto;
	background-color: #666666;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	margin: 50px 0 0 0;
	color: white;
	font-size: 14px;
}